name: build-comfyui-sage-runpod-5090

on:
  push:
    branches:
      - "main"

jobs:
  docker:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ vars.DOCKER_USER }}
          password: ${{ secrets.DOCKER_PAT }}

      - name: Set up Docker Buildx (Docker Build Cloud)
        uses: docker/setup-buildx-action@v3
        with:
          driver: cloud
          # <docker-username>/<builder-name>
          endpoint: "roxraccoon/runbuilder"

      - name: Build and push image
        uses: docker/build-push-action@v6
        with:
          context: .
          file: ./Dockerfile
          push: true
          tags: "${{ vars.DOCKER_USER }}/comfyui-sage-runpod-5090:latest"
